.ITList {
    position: relative;
    list-style-type: none;
    display: flex;
    margin-top: 50px;
    height: auto;
  
    overflow: hidden;
    scroll-behavior: smooth;
    


}

.lilist {

    position: relative;
    box-sizing: border-box;
    text-align: center;
    width: 300px;
    height: 80%;
    margin: 30px 10px;

}

.imglist {

    width: 200px;
    height: 200px;
    object-fit: fill;
    object-position: center;
    border-radius: 10px;


}

.h1list {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.plist {
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
     text-overflow: clip;
}

.h2list {
    font-size: 1.2em;
    color: #666;
}


.liftbutton {

    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: 50%;
    z-index: 1;
  


}

.rightbutton {


    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    right: 0;
    top: 50%;
    z-index: 1;

}