body {
    font-family: 'Arial', sans-serif;
    
    color: #333; /* Dark gray text color */
    margin: 0;
    padding: 0;
}

.maindivoful {
    position: relative;
    margin: 20px;
    height: auto;
    top: 30px;
    padding: 10px;
}

.ulcss {
    display: flex;
    list-style: none;
    scroll-behavior: smooth;
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.ulcss::-webkit-scrollbar {
    display: none; /* WebKit (Chrome, Safari) */
}


.rtbox{

    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
    list-style: none;
    scroll-behavior: smooth;
    height: auto;
    

}

.rtbox li{

    width: 150px;
    margin: 20px;
}



.ulcss li {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff; /* White background color */
    transition: transform 0.3s ease-in-out;
}

.ulcss li:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

.ulcss li h1 {
    font-weight: bolder;
    font-size: 18px;
    color: #000; /* Black color for heading */
    margin-bottom: 5px;
}

.ulcss li p {
    padding: 0 10px;
    text-align: center;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to two lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    color: #555; /* Dark gray text color */
}

.ulcss li img {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.ulcss li img:hover {
    transform: scale(1.1); /* Scale effect on image hover */
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .maindivoful {
        margin: 10px;
        top: 10px;
    }

    .ulcss li h1 {
        font-size: 16px;
    }

    .ulcss li p {
        font-size: 12px;
    }
}
