.support{

 position: relative;
 
 height: auto;
 margin-top: 20px;


}
.ITList {
    position: relative;
    list-style-type: none;
    display: flex;
    margin: 20px;
    transition: transform 0.5s ease-in-out;
    height: auto;
   
    overflow: hidden;
    scroll-behavior: smooth;
    
 

}
.ITList:active{

       overflow: true;
}

.lilist {
 

    position: relative;
    box-sizing: border-box;
    text-align: center;
    width: 200px;
   
    height: 80%;
    margin: 30px 10px;

}

.lilist:hover{

   z-index: 100;
    
}
.imglist {

   width: 150;
    height: 150px;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;


}

.h1list {
  
    margin-bottom: 10px;
    font-size: 14px; 
}

.plist {
   
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to two lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px; 
}

.h2list {
   
    color: #666;
    font-size: 14px; 
}


.liftbutton {

    position: absolute;
    width: 20px;
    height: 100px;
    border-radius: #49c5b6 0 0 10px;
    border: none;
    top: 40%;
    z-index: 1;
  


}

.rightbutton {


    position: absolute;
    width: 20px;
    height: 100px;
    border-radius: #49c5b6 0 0 10px;
    border: none;
    right: 0;
    top: 40%;
    z-index: 1;

}