.maindev {

   position: fixed;
   display: flex;
   
   
   align-items: center;
   flex-direction: column;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 369px;
   height: 362px;
   box-shadow: #49c5b6 0 0 50px;
   border-radius: 30px;
   border: none;
 
}

.maindev input{
   
    margin-top: 40px;
    height: 30px;
    width: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    border-top: none ;
    border-left: none;
    border-right: none;
    border-bottom: #49c5b6 2px solid;
    outline: none;

}

.maindev input:focus{

   border-bottom: #a7319d 2px solid;
}
.Virfy{

   border: none;
   border-radius: 40px;
   margin-top: 70px;
   height: 40px;
   width: 150px;
   color: #f0f2f3;
   background-color:  #261acc;
   font-size: larger;
   box-shadow: #261acc  0 0 20px;
   cursor: pointer;
}

.Virfy:active{

   color: #261acc;
   background-color:  #f0f2f3;
}

.GETOPTS{

     position: absolute;
     top: 55%;
     right: 50px;
   color: rgb(33, 192, 33);
   cursor: pointer;
   background-color: white;


}
.GETOPTS:active,.GETOPTS:focus{

   color: #261acc;
}