*{

    margin: 0;
    padding: 10px;
}
body {
    
    background-image: url("https://ik.imagekit.io/9z8pcdvp6/back-to-school-laptop-accessories-header.webp?updatedAt=1704023806161");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 100%;


}

header a {

    font-weight: bold;
    font-size: 30px;
    color: aliceblue;


}

.Sigindiv {
    position: absolute;
    display: flex;
    justify-content: center;
     border-radius: 10px;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 350px;
    box-shadow: 0 0 5px rgb(100, 190, 100);

}

.Sigindiv input{


    position: relative;
    margin: 10px;
    border: none;
    border-style: none;
    height:  30%;
    font-weight: bold;
    border-radius: 5px;
    padding: 0;
    outline: none;

}

.Sigindiv button{

    position: relative;
     height: 5%;
     width: 50%;
     margin: 5px;
     left: 25%;
     font-size: 14px;
     border-radius: 5px;
     border: none;
     background-color: white;
     font-weight: bold;
     box-shadow: 0 0 5px #00cec9;
}

.Sigindiv button:hover{

    box-shadow: 0 0 5px #32f188;
}
.Sigindiv button:active{

    box-shadow: 0 0 5px #2248f5;
}
